@import url("https://fonts.googleapis.com/css2?family=Dongle&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Dongle", sans-serif;
}

main header {
  width: 100%;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 1em;
}

main header h1 {
  font-size: 40px;
}

main .alert {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .alert .display {
  width: 300px;
  height: 400px;
  background: #fff;
  border-radius: 5px;
  padding: 1em;
}

main .theme {
  width: 100%;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .word {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

main .word .set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .word .set .set-words {
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

main .word .set .set-words h3 {
  font-size: 30px;
}

main .type {
  width: 100%;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

main .type h1 {
  font-size: 120px;
}

main .counter {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

main .counter h1 {
  font-size: 50px;
}

main .enter {
  width: 100%;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

main .enter input {
  width: 600px;
  height: 100px;
  font-size: 80px;
  border: none;
  outline: none;
  background: none;
  border-bottom: 0.1em solid #eee;
}

main .enter .wb::-webkit-input-placeholder {
  color: #999;
}

main .enter .next::-webkit-input-placeholder {
  color: #eee;
}

main .end {
  width: 100%;
  padding: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .end .total {
  width: 600px;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-radius: 5px;
}

main .end .total h1 {
  font-size: 30px;
}

main .champ {
  width: 300px;
  padding: 1em 0.1em;
  background: #555;
  position: absolute;
  top: 15vh;
  left: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-box-shadow: 0 3px 8px #555;
          box-shadow: 0 3px 8px #555;
  padding-bottom: 4em;
}

main .champ #c {
  text-align: center;
  color: #fff;
  font-size: 35px;
}

main .champ button {
  width: 100px;
  height: 40px;
  font-size: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  position: absolute;
  bottom: 0.5em;
  right: 0.5em;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  outline: none;
  background: #ff3e30;
  color: #fff;
}

main .champ .leage {
  width: 100%;
  padding: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
  margin: 0.1em 0;
}

main .champ .leage h1 {
  font-size: 30px;
}

main .champ .leage h1:nth-child(1) {
  width: 40px;
  height: 40px;
  background: #ffb02e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border-radius: 50%;
  color: #fff;
}

main .champ.active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

main .champion {
  width: 60px;
  height: 60px;
  background: #555;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border-radius: 50%;
  position: fixed;
  bottom: 1em;
  left: 1em;
  cursor: pointer;
  -webkit-box-shadow: 0 3px 8px #555;
          box-shadow: 0 3px 8px #555;
}

main footer {
  width: 100%;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

main footer h1 {
  font-size: 30px;
}

@media (max-width: 650px) {
  main {
    display: none;
  }
}
/*# sourceMappingURL=index.css.map */